<br><br>
<div style="text-align:center">
  <h1>
    Kerrie's footy tipping
  </h1>
  <br><br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <a class="nav-item nav-link" routerLink="tips">Tips</a>
      <a class="nav-item nav-link"  routerLink="aflLadder">AFL Ladder</a>
      <a class="nav-item nav-link"  routerLink="tipLadder">Tipsters Ladder</a>
      <a class="nav-item nav-link"  routerLink="aflResults">AFL Results</a>
      <a class="nav-item nav-link"  routerLink="admin">Admin</a>
  </nav>
  <router-outlet></router-outlet>
